.bg-primary-dark {
  background-color: darken($primary, 10%);
}

#menu-pie-a,
#menu-pie-b {
  font-family: $headings-font-family;
  font-weight: 600;

  @extend .text-uppercase;

  a {
    color: $white;
  }
}
