.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.bg-grad {
  background-image: linear-gradient($primary 76%, transparentize($primary, 1));
}

.navbar {
  padding-bottom: $spacer*2;
}

.navbar-logo {
  width: 240px;
}

.hamburger:focus {
  outline-style: none;
}

.nav-item,
.dropdown-item {
  font-family: $headings-font-family;
  font-weight: 600;
  text-align: center;
  font-size: 1.3rem;
  white-space: normal !important;

  &.active,
  .current-menu-item a {
    font-weight: 900;
  }

  @include media-breakpoint-up(lg) {
    font-size: 0.9rem;
    text-align: unset;
  }
}

.dropdown-menu:hover,
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /* Without this, clicking will make it sticky */
  pointer-events: none;
}
