.header_pag_corto {
  position: relative;
  margin-top: 66px;
  padding-top: $spacer*3;
  padding-bottom: $spacer*2;

  @include media-breakpoint-up(md) {
    height: 50vh;
  }

  img.foto_header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img.lineas_header {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
  }

  .container {
    z-index: 1;
  }
}

.carousel svg {
  width: 1vh;
  height: auto;
  position: absolute;
  transition-property: width;
  opacity: 0.4;
}

.barra2 {
  transition-delay: 0.1s;
}

.barra3 {
  transition-delay: 0.2s;
}

.active svg.barra1 {
  width: 30vh;
}

.active svg.barra2 {
  width: 50vh;
}

.active svg.barra3 {
  width: 70vh;
}

.carousel-item p,
.carousel-item h1,
.carousel-item .btn-caption {
  opacity: 0;
  transition: opacity 0.2s;
}

.active h1 {
  opacity: 1;
  transition-delay: 0.3s;
}

.active p {
  opacity: 1;
  transition-delay: 0.5s;
}

.active .btn-caption {
  opacity: 1;
  transition-delay: 0.6s;
}

.carousel-caption {
  text-align: left;
  top: 40px;
}

// colores car wrapping
.car-wrapping-ploteo-vehicular .header_pag_corto h1 {
  display: inline-block;
  background: url("../images/fondo-car-wrapping.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

// simulador

#simulador_auto,
#simulador_arquitectura {
  #iso {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2rem;
    margin-left: -2rem;
    z-index: -1;
    width: 4rem;
  }

  img {
    transition: opacity 0.2s;
    transition-delay: 0.2s;

    &.hide {
      opacity: 0;
    }
  }

  .rounded-circle {
    border-width: 2px;
    border-color: $gray-600;
    width: 3.5rem;
    height: 3.5rem;
    filter: blur(0.8px);
    transition: transform 100ms;

    @extend .shadow-sm;

    &.active {
      // border-width: 4px;
      border-color: $black !important;
      transform: scale(0.95);
      filter: none;

      @extend .shadow-none;
    }

    &:focus,
    &.focus {
      box-shadow: none;
    }
  }
}

.bg35 {
  background-color: $gray-300 !important;
}

.bg20 {
  background-color: $gray-600 !important;

  &.active {
    border-color: $primary !important;
  }
}

.bg05 {
  background-color: $gray-800 !important;

  &.active {
    border-color: $primary !important;
  }
}

.bg-rojo {
  background-color: #b40000 !important;

  &.active {
    border-color: $primary !important;
  }
}

.bg-azul {
  background-color: #0a46b6 !important;

  &.active {
    border-color: $primary !important;
  }
}
