.header_pag_corto {
  position: relative;
  margin-top: 66px;
  padding-top: $spacer*3;
  padding-bottom: $spacer*2;

  @include media-breakpoint-up(md) {
    /* padding-top: $spacer*5;
    padding-bottom: $spacer; */
    height: 50vh;
  }

  img.foto_header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img.lineas_header {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
  }

  .container {
    z-index: 1;
  }
}

.carousel svg {
  width: 1vh;
  height: auto;
  position: absolute;
  // transition: all 0.1s;
  transition-property: width;
  opacity: 0.4;
}

.barra2 {
  transition-delay: 0.1s;
}

.barra3 {
  transition-delay: 0.2s;
}

.active svg.barra1 {
  width: 30vh;
}

.active svg.barra2 {
  width: 50vh;
}

.active svg.barra3 {
  width: 70vh;
}

.carousel-item p,
.carousel-item h1,
.carousel-item .btn-caption {
  opacity: 0;
  transition: opacity 0.2s;
}

.active h1 {
  opacity: 1;
  transition-delay: 0.3s;
}

.active p {
  opacity: 1;
  transition-delay: 0.5s;
}

.active .btn-caption {
  opacity: 1;
  transition-delay: 0.6s;
}

.carousel-caption {
  text-align: left;
  top: 40px;
}

// simulador

#simulador_auto,
#simulador_arquitectura {
  .rounded-circle {
    border-width: 3px;
    border-color: $gray-500;
    width: 3rem;
    height: 3rem;

    &.active {
      border-color: $black !important;
    }
  }
}

.bg35 {
  background-color: $gray-300 !important;
}

.bg20 {
  background-color: $gray-600 !important;

  &.active {
    border-color: $primary !important;
  }
}

.bg05 {
  background-color: $gray-800 !important;

  &.active {
    border-color: $primary !important;
  }
}

.bg-rojo {
  background-color: #b40000 !important;

  &.active {
    border-color: $primary !important;
  }
}

.bg-azul {
  background-color: #0a46b6 !important;

  &.active {
    border-color: $primary !important;
  }
}
