h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

body {
  overflow-x: hidden;
  position: relative;
}

#loader {
  transition-property: height;
  transition-duration: 1s;
  height: 0;
  background-color: $primary;
  width: 100%;
  z-index: 2000;

  .fas {
    transition-property: top;
    transition-duration: 1s;
    top: -17vh;
    position: absolute;
    color: $light;
  }

  &.load {
    height: 100%;

    .fas {
      top: 100vh;
    }
  }
}

.foto_header {
  filter: brightness(0.5);
}

.wp-block-cover__inner-container {
  @extend .container;
}

.carousel-item {
  height: 100vh;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 66vh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nota img {
  width: 100%;
  height: 200px;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    height: 200px;
  }
}

.oferta img {
  width: 100%;
  height: 300px;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    height: 300px;
  }
}

.single header img {
  height: 200px;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    height: 400px;
  }
}
