h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

body {
  overflow-x: hidden;
  position: relative;
}

#loader {
  transition-property: height;
  transition-duration: 1s;
  transition-delay: 0ms;
  height: 0;
  background-color: $primary;
  width: 100%;
  z-index: 2000;
  top: 0;

  #espatula {
    transition-property: top;
    transition-duration: 1.2s;
    top: -270px;
    position: absolute;
    width: 200px;
    margin-left: -100px;
  }

  &.load {
    height: 100%;
    transition-delay: 100ms;

    #espatula {
      top: 100vh;
    }
  }
}

.foto_header {
  filter: brightness(0.5);
}

.wp-block-cover__inner-container {
  @extend .container;
}

.carousel-item {
  height: 100vh;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 66vh;
  }

  .sobrefoto {
    background: rgba($color: #000, $alpha: 0.5);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nota img {
  width: 100%;
  height: 200px;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    height: 200px;
  }
}

.oferta .card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    height: 300px;
  }
}

// coblocks fotos
.coblocks-gallery--figure img {
  transition: all 500ms;

  &:hover {
    transform: scale(1.1);
  }
}

.coblocks-lightbox__arrow {
  border: none;
}

.single header img.img-fluid {
  height: 200px;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    height: 400px;
  }
}
